
<div class="post">
<article class="col-auto">
<div class="card-header flex-row justify-space-between">
	<h1>{{post.title}}</h1>
	<div>
		Posted By {{post.User.userName}} on {{format_date post.createdAt}}
	</div>
</div>
	<div class="card-body">
	<p>{{post.body}}</p>
	</div>
	</article>

	{{#if post.comments}}
	<section class="post card">
		<div class="card-header">
		<h2>Comments</h2>
		</div>

<div class="card-body">
	{{#each post.comments}}
</div>
	<p>
		{{Comments.body}}
	</p>
	<p>
		&mdash; {{User.userName}}, {{format_date createdAt}}
	</p>
	</div>
	{{/each}}
	</div>
	</section>
	{{/if}}


		<form id="new-comment-form" class="card-body">
			<div class"card-header">
				<h3>Add New Talk</h3>
			</div>
	<div>
		<input id="new-comment-form" type="text" name="post-id" value="{{post.title}}"/>

		<label class="form-label" for="comment-body">Talk</label>

		<textarea id="new-comment-form" name="post-body" class="form-input"></textarea>
	
	
	<ul style="list-style: none;">
		<li><button type="submit" class="btn talk-adds">👉 Add Your Talk</button>
		</li>
	</ul>
		</form>
	</div>
	





<script src="/js/comment.js"></script>

